<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/editor.md-master/css/editormd.preview.min.css" />
    <link rel="stylesheet" href="/editor.md-master/css/editormd.css" />

    <style>

        #footer {
            margin-top: 100px;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container">
        <!--移动端试图-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">主页</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/showArticlesByCategory?articleCategory=数学物理">数学|物理
                    </a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=化学生物">化学|生物</a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=电子计算机">电子|计算机</a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=机械电工">机械|电工</a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=土木测量">土木|测量</a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=文学英语">文学|英语</a>
                </li>
                <li>
                    <a href="/showArticlesByCategory?articleCategory=商务法律">商务|法律</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/student/login">学生登陆</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/write">资料上传与修改</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/adminLogin">管理员登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<!--展示最新5期文章-->
<#list articleEntityList as article>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="page-header">
                    <h2 style="text-align: center">${article.articleTitle}
                        <small>${article.articleCategory}</small>
                    </h2>
                </div>
                <div class="content" id="content">${article.articleContent }</div>
                <div>
                    <p>
                        <a class="btn btn-info btn-lg" href="/showArticleById?articleId=${article.pkArticleId}" role="button">Learn more</a>
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</#list>

<!--分页链接-->
<#if pages??>
    <div class="container" style="text-align: center">
        <nav aria-label="Page navigation">
            <#if pages!=0>
                <ul class="pagination">
                        <li>
                            <a href="/showArticlesByCategory?articleCategory=${articleCategory}&pageNum=${pageNum-1}" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    <#list 1..pages!1 as i>
                        <#if pageNum==i>
                            <li class="active">
                                <a href="/showArticlesByCategory?articleCategory=${articleCategory}&pageNum=${i}">${i}
                                </a>
                            </li>
                        <#else/>
                            <li>
                                <a href="/showArticlesByCategory?articleCategory=${articleCategory}&pageNum=${i}">${i}
                                </a>
                            </li>
                        </#if>
                    </#list>
                    <li>
                        <a href="/showArticlesByCategory?articleCategory=${articleCategory}&pageNum=${pageNum+1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </#if>
        </nav>
    </div>
</#if>
<!--页脚-->
<footer class="footer" id="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-6 col-lg-6">
                <h4>
                    <img src="https://static.bootcss.com/www/assets/img/logo.png?1521976251315">
                </h4>
                <p>我们一直致力于为广大开发者提供更多的优质技术文档和辅助开发工具！</p>
            </div>
            <div class="col-md-6  col-lg-5 col-lg-offset-1">
                <div class="row about">
                    <div class="col-sm-3">
                        <h5>关于</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/about/">关于我</a>
                            </li>
                            <li>
                                <a href="/links/">友情链接</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>联系方式</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a>
                            </li>
                            <li>
                                <a href="#">电子邮件</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h5>旗下网站</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://drye.top/" target="_blank">drye</a>
                            </li>
                            <li>
                                <a href="https://myblog.drye.top/" target="_blank">myblog.drye</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>赞助商</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" target="_blank">淮海工学院</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <hr/>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>
                    <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a>
                </li>
                <li>京公网安备11010802014853</li>
            </ul>
        </div>
    </div>
</footer>

<!--引入jq文件-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/editor.md-master/lib/marked.min.js"></script>
<script src="/editor.md-master/lib/prettify.min.js"></script>
<script src="/editor.md-master/editormd.min.js"></script>
<script type="text/javascript">
    editormd.markdownToHTML("content");
</script>
</body>

</html>