<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>淮海工学院学习平台</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <style>
    #article {
      margin-top: 50px;
      text-align: center;
    }

    #footer {
      margin-top: 100px;
    }
    #panel{
      margin-top: 30px;
    }
  </style>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--导航条-->
<nav class="navbar navbar-default">
  <div class="container">
    <!--移动端试图-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">主页</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/showArticlesByCategory?articleCategory=数学物理">数学|物理
          </a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=化学生物">化学|生物</a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=电子计算机">电子|计算机</a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=机械电工">机械|电工</a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=土木测量">土木|测量</a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=文学英语">文学|英语</a>
        </li>
        <li>
          <a href="/showArticlesByCategory?articleCategory=商务法律">商务|法律</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/student/login">学生登陆</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/write">资料上传与修改</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/adminLogin">管理员登陆</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
  <!--内容-->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="page-header">
          <h1>Join HHIT Home</br>
            <small>The best platform for study and communication </small>
          </h1>
        </div>
        <#if message??>
          <h4>${message}</h4>
        </#if>
        <form action="/doRegister" method="post" onsubmit ="getElementById('submitInput').disabled=true;return true;">
          <div class="row  justify-content-md-center">
            <div class="col-md-7">
              <h3>Create your personal account</h3>
              <div class="form-group">
                <label for="username">
                  <h4>Email</h4>
                </label>
                </br>
                <input type="email" class="form-control" id="username" placeholder="请输入邮箱" name="userName">
              </div>
              <div class="form-group">
                <label for="studentID">
                  <h4>StudentID OR TeacherID</h4>
                </label>
                </br>
                <input type="text" class="form-control" id="studentID" placeholder="请输入学号或者教职工号" name="userSid">
              </div>
              <div class="form-group">
                <label for="password">
                  <h4>Password</h4>
                  <#if passwordMessage??>
                    <h4>${passwordMessage}</h4>
                  </#if>
                </label>
                </br>
                <#if Token??>
                  <input type="hidden" name="Token" value="${Token}"/>
                </#if>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" name="userPassword">
              </div>
              <div class="form-group">
                <label for="confirmPassword">
                  <h4>Confirm password</h4>
                </label>
                </br>
                <input type="password" class="form-control" id="confirmPassword" placeholder="请重复密码" name="confirmPassword">
              </div>
              <div class="form-group">
                <label for="College">
                  <h4>College</h4>
                </label>
                </br>
                <input type="text" class="form-control" id="College" placeholder="学院" name="userCollege">
              </div>
              <div class="form-group">
                <label for="Class">
                  <h4>Class</h4>
                </label>
                </br>
                <input type="text" class="form-control" id="Class" placeholder="请输入班级全名" name="userClass">
              </div>
              <hr/>
              <p>By clicking “Create an account” below, you agree to our terms of service and privacy statement. We’ll occasionally
                send you account related emails.</p>
              <hr/>
              <input type="submit" value="Create an account" class="btn btn-success" id="submitInput" onclick="this.value='提交中';">
            </div>
            <div class="col-md-4" id="panel">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4>You’ll love this platform</h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">
                    Excellent data sharing.</br>
                    Beautiful Websites
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!--页脚-->
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-6 col-lg-6">
          <h4>
            <img src="https://static.bootcss.com/www/assets/img/logo.png?1521976251315">
          </h4>
          <p>我们一直致力于为广大开发者提供更多的优质技术文档和辅助开发工具！</p>
        </div>
        <div class="col-md-6  col-lg-5 col-lg-offset-1">
          <div class="row about">
            <div class="col-sm-3">
              <h5>关于</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="/about/">关于我</a>
                </li>
                <li>
                  <a href="/links/">友情链接</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h5>联系方式</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a>
                </li>
                <li>
                  <a href="#">电子邮件</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h5>旗下网站</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="http://drye.top/" target="_blank">drye</a>
                </li>
                <li>
                  <a href="https://myblog.drye.top/" target="_blank">myblog.drye</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2">
              <h5>赞助商</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" target="_blank">淮海工学院</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <hr/>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li>
            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a>
          </li>
          <li>京公网安备11010802014853</li>
        </ul>
      </div>
    </div>
  </footer>
  <!--引入jq文件-->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>