<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.learn.mapper.ArticleMapper">
    <resultMap id="article" type="com.hhit.learn.entity.ArticleEntity">
        <id column="pk_article_id" property="pkArticleId"/>
        <result column="article_time" property="articleTime"/>
        <result column="article_category" property="articleCategory"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>

        <association property="userEntity" javaType="com.hhit.learn.entity.UserEntity">
            <id column="pk_user_id" property="pkUserId"/>
            <result column="user_sid" property="userSid"/>
            <result column="user_name" property="userName"/>
            <result column="user_password" property="userPassword"/>
            <result column="user_college" property="userCollege"/>
            <result column="user_class" property="userClass"/>
        </association>
    </resultMap>

    <!--增加一篇文章-->
    <insert id="saveArticle">
        INSERT INTO
        learning_platform.article (user_id, article_time, article_title, article_category, article_content)
        VALUES (#{userId}, #{articleTime}, #{articleTitle}, #{articleCategory}, #{articleContent})
    </insert>

    <!--查询将近期文章显示在主页上-->
    <select id="listArticlesOnHome" resultMap="article">
        SELECT * FROM learning_platform.article
        ORDER BY article_time DESC
        limit 3
    </select>

    <!--通过Id查询文章-->
    <select id="getArticleById" resultMap="article">
        SELECT * FROM  learning_platform.article
        WHERE pk_article_id = #{pkArticleId}
    </select>

    <select id="listArticlesByCategory" resultMap="article">
        SELECT * FROM learning_platform.article
        WHERE article_category = #{articleCategory}
    </select>

    <!--获取用户最新插入的文章-->
    <select id="getArticleByUserTimeLimitOne" resultMap="article">
        select * from learning_platform.article
        where user_id = #{userId}
        order BY article_time DESC
        limit 1
    </select>
    
    <!--统计articleId之前多少行-->
    <select id="countBeforeArticleId" resultType="Integer">
        select count(*) from learning_platform.article
        where #{articleId}>pk_article_id
    </select>

    <!--根据articleId顺序查文件-->
    <select id="listArticleByArticleIdSequence" resultMap="article">
        SELECT * FROM learning_platform.article
        ORDER BY pk_article_id ASC
    </select>
</mapper>