<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.learn.mapper.UserMapper">

    <resultMap id="user" type="com.hhit.learn.entity.UserEntity">

        <id column="pk_user_id" property="pkUserId"/>
        <result column="user_sid" property="userSid"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_college" property="userCollege"/>
        <result column="user_class" property="userClass"/>

        <collection property="articleEntities" ofType="ArticleEntity">
            <id column="pk_article_id" property="pkArticleId"/>
            <result column="user_id" property="userId"/>
            <result column="article_time" property="articleTime"/>
            <result column="article_category" property="articleCategory"/>
            <result column="article_title" property="articleTitle"/>
            <result column="article_content" property="articleContent"/>
        </collection>

    </resultMap>
    <!--注册用户-->
    <insert id="saveUser">
        INSERT INTO user (user_sid, user_name, user_password, user_college, user_class)
        VALUES (#{userSid}, #{userName}, #{userPassword}, #{userCollege}, #{userClass})
    </insert>

    <!--查询用户-->
    <select id="getUser" resultMap="user">
        SELECT * FROM user
        WHERE user_Name = #{userName}
        AND user_Password = #{userPassword}
    </select>
</mapper>